# Ignorowane pliki/katalogi przy tworzeniu ZIP (git archive)
.github/             export-ignore
.github/workflows/   export-ignore
dist/                export-ignore
tests/               export-ignore
**/__pycache__/      export-ignore
*.zip                export-ignore
*.psd                export-ignore
*.ai                 export-ignore
.gitignore           export-ignore
.gitattributes       export-ignore
